<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flatly-small-map.css') }}">
    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- bxSlider Javascript file -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.bxslider.js') }}"></script>
    <!-- bxSlider CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.bxslider.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/dessertData.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
    <title>NYC Dessert Map</title>
    <meta charset="UTF-8">
    <meta name="description" content="Billy's Bakery and a map of the best Desserts in NYC">
    <meta name="keywords" content="NYC, dessert, restaurants, map, Billy's Bakery">
    <meta name="author" content="Jeff Maxim">
  </head>
  <body>

  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">NYC Dessert Map</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
  </div>



        <div class="page-header">
          <h2>Billy's Bakery</h2>
        </div>
        <table>
            <td>
              <div class="container" id="detailed-restaurant-description">
                <p>Billy's has delicious cupcakes but seems derivative of <a href="{{ url_for('main.magnoliauws') }}">Magnolia's</a>.</p>
                <p><b>What to get: </b>Banana Nutella cupcake and strawberry lemondade cupcake.</p>
                <p><b>Restaurant Link: </b><a href="http://www.billysbakerynyc.com/" target="_blank">Billy's Bakery Website</a></p>
                <p><b>Menu Link: </b><a href="http://www.billysbakerynyc.com/categories/Cupcakes/" target="_blank">Billy's Menu</a></p>
                <p><b>More details: </b>We have mixed feelings about this place. We didn't like that the cupcakes and the atmosphere was a little <i>too</i> similar to <a href="{{ url_for('main.magnoliauws') }}">Magnolia's</a>. We did think the cupcakes were downright delicious, so we included Billy's on our list because of that deliciousness. Emily got the strawberry lemonade cupcake and Jeff got the banana nutella. Both were among the best cupcakes we've ever had in NYC! The frosting was perfect, the cake was light and fluffy. There was a pretty upbeat atmosphere here on a Saturday night. It seemed like there was a good mix of native New Yorker's coming to their favorite place and tourists looking for one of NYC's best spots. If you're in Chelsea, it's one of your best options for cupcakes!</p>
                <p>
              </div>
            </td>
            <td>
                <ul class="bxslider">
                    <li><img src="{{ url_for('static', filename='img/BillysBakery/1.jpg') }}"></li>
                    <li><img src="{{ url_for('static', filename='img/BillysBakery/2.jpg') }}"></li>
                    <li><img src="{{ url_for('static', filename='img/BillysBakery/3.jpg') }}"></li>
                    <li><img src="{{ url_for('static', filename='img/BillysBakery/4.jpg') }}"></li>
                    <li><img src="{{ url_for('static', filename='img/BillysBakery/5.jpg') }}"></li>
                </ul>
            </td>
        </table>


        <div id="map"></div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzn_jmwfkOfkbvKoUeSDb3YDObuY5EKC0&callback=initMap">
    </script>
    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
    var sc_project=10606011;
    var sc_invisible=1;
    var sc_security="067aebd7";
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="website
    statistics" href="http://statcounter.com/"
    target="_blank"><img class="statcounter"
    src="http://c.statcounter.com/10606011/0/067aebd7/1/"
    alt="website statistics"></a></div></noscript>
    <!-- End of StatCounter Code for Default Guide -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54793829-3', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
