{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated() %}{{ current_user.first_name }}{% else %}Stranger{% endif %}!</h1>
    <h1>Welcome to the best Teacher PD website on the internet!</h1>
</div>
<div class="container" id="get_started">
    <a href="{{ url_for('auth.register') }}" class="btn btn-primary btn-lg">Register and Get Started!</a>
    <p>Already registered? <a href="{{ url_for('auth.login') }}">Login</a></p>
</div>
<div class="container" id="gif">
    <img src="{{ url_for('static', filename='img/mirro_obama.gif') }}">
    <p>*I like random gifs that make me laugh, and they'll be many scattered around my PD website</p>
</div>
{% endblock %}
