<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flatly.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
  </head>
  <body>

  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">NycDessertMap</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
<!--                 {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %} -->
            </ul>
        </div>
    </div>
  </div>
    <div class="page-header">
      <!-- <h1>Hello, {% if current_user.is_authenticated() %}{{ current_user.first_name }}{% else %}Stranger{% endif %}!</h1> -->
      <h2>Welcome to Jeff and Emily's map of NYC's best dessert spots!</h2>
    </div>
    <div class="container" id="get_started">
      <p>Jeff and Emily are an adorable pair of married New Yorker's who go around NYC, eat the city's best desserts, and then plot them on this map so that you can also enjoy some awesome desserts! Click on a map marker to learn more...</p>
    </div>
    <div id="map"></div>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzn_jmwfkOfkbvKoUeSDb3YDObuY5EKC0&callback=initMap">
    </script>
  </body>
</html>
